<header class="header">
        <nav class="nav">
            <a href="/inicio"><img src="../../../assets/Logo.png" alt="Logo" class="logo"></a>
            <div class="menu-hamburgesa" (click)="menuSubmit()">
                <i class="bi bi-list"></i>
            </div> 
            <ul class="nav-lista" [ngClass]="{'nav-lista_responsive': menuResponsivo}">
                <a class="link-nav" routerLink="inicio">Inicio</a>
                <!-- <a class="link-nav" routerLink="servicios">Servicios</a> -->

                @if(loginService.logeado()){
                    <a class="link-nav" routerLink="incribirse">Inscribirse</a>
                    <a class="link-nav" routerLink="concurso">Concurso</a>
                    <button  type="button" class="registro" (click)="loginService.cerrarSeccion()" >Cerrar Sesion</button>
                    
                } @else{
                    <a class="registro" routerLink="inicio-seccion">Inicio-Seccion</a>
                }
            </ul>
        </nav>
</header>