<body class="body">
    <div class="logoRegistro">
        
    </div>
        <form class="formulario" [formGroup]="credencialesFormulario3" (ngSubmit)="registrarSubmit()">
             <h5 class="tituloFormulario"> <strong>¡SUBE TU FOTO Y PARTICIPA EN EL CONCURSO SEMANAL! </strong></h5> 

            <input class="campos" type="text" placeholder="Correo"   formControlName="correo">
            <input class="campos" type="text" placeholder="Titulo" formControlName="titulo">
            <input class="campos descripcion" type="string" placeholder="Link de la foto"   formControlName="foto" accept="image/*">
            <P class="maximo ">PON EL LINK DE TU IMAGEN PARA PARTICIPAR</P>                      
            <input class="campos descripcion" type="text" placeholder="Descripcion"   formControlName="descripcion" maxlength="100">
            <P class="maximo">MAXIMO 100 CARACTERES</P>          
            
            <input class="campos descripcion" type="checkbox" placeholder="Acepta"   formControlName="aceptacion">
            <p class="maximo1 ">Acepta que su imagen sea mostrada en esta pagina</p>
            <input class="boton" type="submit" placeholder="Log In">
        </form>        
</body>