.body{
    display: flex;
    flex-direction: column;    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(247, 240, 228);
}
.logoRegistro{
    margin-top: 50px;
    background-image: url("https://fotografias.lasexta.com/clipping/cmsimages02/2020/09/21/86828440-B1FB-43AC-9E9C-A94AC6A4B8BD/default.jpg?crop=1300,731,x0,y0&width=1900&height=1069&optimize=low");
    background-size: cover;
    background-position: center;
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: -30px 25px 20px rgba(128, 173, 170, 0.7);
    width: 70%;
    height: 320px;
}
.logoRegistro img{
    width: 100%;
    height: 100%;
    padding-bottom: 10px;
    max-width: 200px;
    max-height: 200px;
    margin-top: 0px;
}

.formulario{
    background-color: white;
    margin-top: -15px;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 100px;
    padding: 30px;
    border-radius: 20px;
    box-shadow: -30px 30px 20px rgba(128, 173, 170, 0.7);
    text-align: center;
    border: 1px solid seagreen; 
}

.campos{
    width: 100%;
    background-color: white;
    padding: 10px;
    border-radius: 4px;
    margin: 15px 0px;
    border: 1px solid seagreen;
}
.boton{
    padding: 10px;
    width: 100%;
    background-color: seagreen;
    color: white;
    margin: 15px 0px;
}
.boton:hover{
    background-color: rgb(63, 184, 115);
    color: white;
}

.tituloFormulario{
    color: seagreen;
}


.descripcion{
    margin-bottom: 0;
}
.maximo{
    font-size: 10px;
    text-align: left;
    margin: 0;
}
.maximo1{
    font-size: 10px;
    margin: 0;
}

/* Media Query funiconamiento del fomulario de la pagina */

@media screen and (max-width: 1400px) {
    
}
@media screen and (max-width: 940px) {
    
}
@media screen and (max-width: 720px) {
    
}


@media screen and (max-width: 560px) {
    .formulario{
        margin-left: 8%;
        width: 84%;
        padding: 20px;
    }
    .logoRegistro{
        margin-left: 8%;
        margin-right: 8%;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        width: 84%;
        height: 200px;
    }
}